* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    border-left: solid white 2px;
    background: #074b6f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border: solid white 2px;
    background: #1d8ac5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1477ac;
}

body {
    background-color: #095985;
    padding-top: 4%;
    padding-bottom: 4%;

    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    margin: 0.5%;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.35em;
}
p {
    font-size: 1.2em;
}
/* p,h1,h2,ul,li {
    cursor: default;
} */

#root {
    border: solid white 3px;
    width: 50%;
    color: white;
    padding: 1%;
    background-color: #1676ab;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #032a40;

    text-align: center;
    animation: fadeIn 1.4s ease-in-out;
}

section h1 {
    font-size: 3rem;
    margin: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section p {
    margin: 2%;
}

section p q {
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    margin: 2.5% 0%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#pfp {
    width: 22.5%;
    border-radius: 50%;
    border: solid white 3px;
}

@media (max-width: 500px) {
    #warning {
        display: block !important;
    }
}

@media (min-width: 501px){
    #warning {
        display: none !important;
    }
}

#warning {
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
    text-align: center;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#hidewarning {
    border-radius: 30px;
    background-color: gray;
    border: none;
    width: auto;
    padding: 0% 5%;
    height: 60px;
    font-size: 1.65rem;
    margin: 1%;
    box-shadow: 0px 0px;
}

button {
    border-radius: 30px;
    background-color: white;
    border: none;
    width: auto;
    padding: 0% 5%;
    height: 60px;
    font-size: 1.65rem;
    margin: 1%;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 7.5px 10px #0c4769;

    filter: brightness(100%);
    transform: scale(1) rotate(0deg);
    transition: filter 0.5s ease, transform 0.3s ease;
}
button:disabled{
    color: black;
}
button:hover{
    filter: brightness(77%);
    transform: scale(1.05);
}

.link {
    filter: brightness(100%);
    transform: scale(1) rotate(0deg);
    transition: filter 0.5s ease, transform 0.3s ease;
}
.link:hover {
    filter: brightness(77%);
    transform: scale(1.05) rotate(2.5deg);
}
button a {
    color: white;
    text-decoration: none;
}

.goback {
    border-radius: 30px;
    background-color: white;
    border: none;
    width: auto;
    padding: 0% 3%;
    height: 30px;
    font-size: 1.2rem;
}

/* Divs and stuff */

/* --- MAIN --- */
#main {
    display: block;
}

/* --- ABOUT ME --- */
#aboutme {
    display: none;
    text-align: center;
}

#aboutme article {
    text-align: left;
    width: 50%;
    position: relative;
    left: 35%;
}

/* --- LINKS --- */
#links {
    display: none;
}
#links main, #links section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#links button {
    color: white;
}
#links .goback {
    color: black;
}
#yt,#yt1 {
    background-color: #CA0000;
}
#tw {
    background-color: #15202b;
}
#gh {
    background-color: #151b23;
}
#st {
    background-color: #1b2838;
}
#ii {
    background-color: #FF2449;
}

/* --- LANGUAGE SECTION --- */
#langs {
    display: none;
}
#langs section {
    display: flex;
    justify-content: center;
    gap: 2%;
}
#langs section article {
    /* border: solid white 2px; */
    padding: 1%;

    display: flex;
    flex-flow: column;
    align-items: center;
}
#langs section article img {
    border: solid white 3px;
    
    width: 80px;
    border-radius: 50%;
    height: 80px;
}
#langs section article p {
    font-size: 1.4rem;
    font-weight: bold;
}

/* ANIMATIONS */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
